@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SignikaBold";
  src: local("SignikaBold"),
    url("./fonts/signika/Signika-Bold.ttf") format("truetype");
  font-weight: bold;
}

.leaflet-container {
  height: 35vh;
  width: 100vh;
}
